---
import { Image } from 'astro:assets';
import retroMonitor from '../assets/retro-monitor.png';
---
<section class="hero neon-box">

  <div>
    <h1>APX</h1>

    <p>
      ARCHLINUX PENETRATION-TESTING eXTENDED
    </p>

    <div>
        <span class="description">
        </br>
            > A lightweight Arch Linux-based distribution focused on penetration testing, automation, and virtualized security lab environments.
        </span>
    </div>

    <div class="hero-buttons">
        <a class="btn-primary" href="https://github.com/r0ttenbeef/APX-Linux">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 12 12"><path fill="currentColor" d="M0 12h11V8H6V7h1V6H6V1H5v5H4v1h1v1H0Zm1-1V9h6v1h1V9h2v2Zm2-5h1V5H3ZM2 5h1V4H2Zm5 1h1V5H7Zm1-1h1V4H8Zm0 0"/></svg>Download
        </a>

        <a class="btn-secondary" href="https://github.com/r0ttenbeef/APX-Linux/blob/main/README.md">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M6 6h12M6 10h12m-5 4h5m-5 4h5M2 21.4V2.6a.6.6 0 0 1 .6-.6h18.8a.6.6 0 0 1 .6.6v18.8a.6.6 0 0 1-.6.6H2.6a.6.6 0 0 1-.6-.6"/><path d="M6 18v-4h3v4z"/></g></svg>Documentation
        </a>
    </div>

  </div>

  <Image src={retroMonitor} alt="APX System" />
</section>